
.Flashcard  {
    width: 70%;
    max-width: 400px;    
    color: #fff;
    margin: 100px auto 0;
    border: 2px ridge #000000;
    border-radius: 10px;
    padding: 40px 35px;
    text-align: center;
    font-weight: 500;
    font-size-adjust: 0.8;
}

.question-color {
    background-color: #323949;
    transition: transform 1s ease, background-color 1s ease;
}
.answer-color {
    background-color: #06B1DF;
    transition: transform 1s ease, background-color 1s ease;
}